{
    "swagger" : "2.0",
    "info" : {
      "description" : "This API can be used to obtain the information of the courses in the Department of Computer Engineering, University of Peradeniya",
      "version" : "v1",
      "title" : "Courses API",
      "contact" : {
        "email" : ""
      }
    },
    "tags" : [ ],
    "paths" : {
      "/" : {
        "get" : {
          "description" : "Retuns a list of available courses",
          "operationId" : "getCourses",
          "produces" : [ "application/json" ],
          "parameters" : [ ],
          "responses" : {
            "200" : {
              "description" : "successful request",
              "schema" : {
                "$ref" : "#/definitions/CourseList"
              }
            }
          }
        }
      },
      "/{semester}/" : {
        "get" : {
          "description" : "Can obtain all the course details of a specified semester",
          "operationId" : "getCourseDeatilsBySemester",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "semester",
            "in" : "path",
            "description" : "Semester (1, 2, 3, 4, 5, 6, 7, 8, general, technical, short-semester)",
            "required" : true,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "successful request",
              "schema" : {
                "$ref" : "#/definitions/CourseList"
              }
            },
            "404" : {
              "description" : "Invalid Semester"
            }
          }
        }
      },
      "/{semester}/{courseCode}/" : {
        "get" : {
          "summary" : "Course details",
          "description" : "Can obtain the details of a specific course by using this API",
          "operationId" : "getCourseByCode",
          "produces" : [ "application/json" ],
          "parameters" : [ {
            "name" : "semester",
            "in" : "path",
            "description" : "Semester (1, 2, 3, 4, 5, 6, 7, 8, general, technical, short-semester)",
            "required" : true,
            "type" : "string"
          } , {
            "name" : "courseCode",
            "in" : "path",
            "description" : "Course Code",
            "required" : true,
            "type" : "string"
          } ],
          "responses" : {
            "200" : {
              "description" : "successful request",
              "schema" : {
                "$ref" : "#/definitions/Course"
              }
            },
            "404" : {
              "description" : "Invalid Course Code"
            }
          }
        }
      }
    },
    "definitions" : {
      "Course" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "pattern" : "^[a-z]{2}d{3}$",
            "description" : "Course Code"
          },
          "name" : {
            "type" : "string",
            "description" : "Course Name"
          },
          "credits" : {
            "type" : "integer",
            "description" : "Credits"
          },
          "full_name" : {
            "type" : "string"
          },
          "name_with_initials" : {
            "type" : "string"
          },
          "preferred_short_name" : {
            "type" : "string"
          },
          "preferred_long_name" : {
            "type" : "string"
          },
          "emails" : {
            "type" : "object",
            "properties" : {
              "personal" : {
                "description" : "Personal email address",
                "allOf" : [ {
                  "$ref" : "#/definitions/Email"
                } ]
              },
              "faculty" : {
                "description" : "Faculty email address",
                "allOf" : [ {
                  "$ref" : "#/definitions/Email"
                } ]
              }
            }
          },
          "location" : {
            "type" : "string",
            "description" : "Hometown of the student"
          },
          "interests" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            },
            "description" : "Computer Engineering related interests of the student"
          },
          "profile_image" : {
            "type" : "string",
            "format" : "uri",
            "description" : "Link to the profile image of the student"
          },
          "urls" : {
            "type" : "object",
            "properties" : {
              "cv" : {
                "type" : "string",
                "format" : "uri",
                "description" : "Link to the CV in PDF format"
              },
              "website" : {
                "type" : "string",
                "format" : "uri",
                "description" : "Link of the student's personal website"
              },
              "linkedin" : {
                "type" : "string",
                "format" : "uri",
                "description" : "LinkedIn profile URL"
              },
              "github" : {
                "type" : "string",
                "format" : "uri",
                "description" : "GitHub profile URL"
              },
              "facebook" : {
                "type" : "string",
                "format" : "uri",
                "description" : "Facebook profile URL"
              },
              "researchgate" : {
                "type" : "string",
                "format" : "uri",
                "description" : "Researchgate profile URL"
              },
              "twitter" : {
                "type" : "string",
                "format" : "uri",
                "description" : "Twitter profile URL"
              }
            }
          },
          "profile_page" : {
            "type" : "string",
            "format" : "uri",
            "description" : "Link to the profile page of the student"
          }
        },
        "example" : {
          "eNumber" : "E/99/999",
          "batch" : "E99",
          "honorific" : "Mr.",
          "full_name" : "John Doe",
          "name_with_initials" : "Doe J.",
          "preferred_short_name" : "John",
          "preferred_long_name" : "John Doe",
          "emails" : {
            "personal" : {
              "name" : "johndoe",
              "domain" : "gmail.com"
            },
            "faculty" : {
              "name" : "e19999",
              "domain" : "eng.pdn.ac.lk"
            },
            "location" : "Sri Lanka",
            "interests" : [ "Computer Architecture", "Machine Learning" ],
            "profile_image" : "https://people.ce.pdn.ac.lk/images/students/e99/e99999.jpg",
            "urls" : {
              "cv" : "https://johndoe.com/cv.pdf",
              "website" : "https://johndoe.com/",
              "linkedin" : "https://www.linkedin.com/in/john-doe/",
              "github" : "https://github.com/JohnDoe/",
              "facebook" : "#",
              "researchgate" : "#",
              "twitter" : "#"
            },
            "profile_page" : "https://people.ce.pdn.ac.lk/students/e99/999/"
          }
        }
      },
      "CourseList" : {
        "type" : "object",
        "properties" : {
          "url" : {
            "type" : "string",
            "format" : "uri"
          }
        },
        "example" : {
          "E/99/998" : {
            "url" : "https://api.ce.pdn.ac.lk/people/v1/students/E99/998"
          },
          "E/99/999" : {
            "url" : "https://api.ce.pdn.ac.lk/people/v1/students/E99/999"
          }
        }
      }
    },
     "host":"api.ce.pdn.ac.lk/",
     "schemes" : [ "https" ],
     "basePath":"people/v1/students/"
  }
  