<h5>
    <strong>{{ include.course.code }} {{ include.course.name }}</strong>
    <small>({{ include.course.credits }} Credits)</small>
</h5>

{%- if include.course.content != "" and include.course.content != "NULL" -%}
<h6><strong>Course Content:</strong></h6>
<h6>{{ include.course.content }}</h6>
{%- endif -%}

{%- if include.course.allocation != "" and include.course.allocation != "NULL" -%}
<h6>({{ include.course.allocation }})</h6>
{%- endif -%}

<a href="{{ include.course.urls.view | relative_url}}">More Details</a>
<h6>&nbsp;</h6>
<hr>