<footer class="mt-5 pt-4 pb-4 bg-dark">
    <div class="container">
        <p class="m-2 text-center text-white">
            Department of Computer Engineering - University of Peradeniya
        </p>
        <p class=" text-muted text-center">
            <a class="text-decoration-none small footer-link" href="{{ '/documentation/' | relative_url }}">
                Documentation</a> |
            <a class="text-decoration-none small footer-link" href="{{ '/sitemap/' | relative_url }}">
                Sitemap</a> |
            <a class="text-decoration-none small footer-link" href="https://api.ce.pdn.ac.lk/docs/courses/"
                target="_blank">Data API</a> |
            <span class="small">Last Build: {{site.time | date: " %d-%m-%Y" }}</span>
        </p>
    </div>
</footer>