.vh-50 {
  min-height: 50vh !important;
}

.vh-75 {
  min-height: 75vh !important;
}


footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #cdcdcd;
  border-top: .05rem solid #bfbfbf;
}

footer p:last-child {
  margin-bottom: 0;
}

/* Custom css for breadcrumb divider color*/
.breadcrumb-item+.breadcrumb-item::before {
  color: white;
}

.footer-link {
  color: #6c757d !important;
  transition: all 0.2s ease-in;
}

.footer-link:hover {
  color: #0d6efd !important;
}

.course-button {
  min-width: 12rem;
}

.btn-outline-primary {
  color: #084298;
  background-color: #cfe2ff;
}

.btn-outline-secondary {
  color: #41464b;
  background-color: #e2e3e5;
}

.btn-outline-success {
  color: #0f5132;
  background-color: #d1e7dd;
}

.btn-outline-danger {
  color: #842029;
  background-color: #f8d7da;
}

.btn-outline-warning {
  color: #664d03;
  background-color: #fff3cd;
}

.btn-outline-info {
  color: #055160;
  background-color: #cff4fc;
}