---
layout: default
permalink: /
title: Undergraduate Courses
---

<!-- breadcrumb -->
<main class="container">
    <div class="bg-secondary p-3 pb-1 rounded">
        <h1 class="text-white">Undergraduate Courses</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ site.home }}" class="link-light">Home</a></li>
                <li class="breadcrumb-item text-white">Undergraduate Courses</li>
            </ol>
        </nav>
    </div>
</main>	

<div class="container pt-4">
	<div class="d-flex align-items-start">
		<div class="col-sm-3">
			<div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
				<button class="nav-link active" id="v-pills-semester1-tab" data-bs-toggle="pill" data-bs-target="#v-pills-semester1" type="button" role="tab" aria-controls="v-pills-semester1" aria-selected="true">Semester 1</button>
				<button class="nav-link" id="v-pills-semester2-tab" data-bs-toggle="pill" data-bs-target="#v-pills-semester2" type="button" role="tab" aria-controls="v-pills-semester2" aria-selected="false">Semester 2</button>
				<button class="nav-link" id="v-pills-semester3-tab" data-bs-toggle="pill" data-bs-target="#v-pills-semester3" type="button" role="tab" aria-controls="v-pills-semester3" aria-selected="false">Semester 3</button>
				<button class="nav-link" id="v-pills-semester4-tab" data-bs-toggle="pill" data-bs-target="#v-pills-semester4" type="button" role="tab" aria-controls="v-pills-semester4" aria-selected="false">Semester 4</button>
				<button class="nav-link" id="v-pills-semester5-tab" data-bs-toggle="pill" data-bs-target="#v-pills-semester5" type="button" role="tab" aria-controls="v-pills-semester5" aria-selected="false">Semester 5</button>
				<button class="nav-link" id="v-pills-semester6-tab" data-bs-toggle="pill" data-bs-target="#v-pills-semester6" type="button" role="tab" aria-controls="v-pills-semester6" aria-selected="false">Semester 6</button>
				<button class="nav-link" id="v-pills-semester7-tab" data-bs-toggle="pill" data-bs-target="#v-pills-semester7" type="button" role="tab" aria-controls="v-pills-semester7" aria-selected="false">Semester 7</button>
				<button class="nav-link" id="v-pills-semester8-tab" data-bs-toggle="pill" data-bs-target="#v-pills-semester8" type="button" role="tab" aria-controls="v-pills-semester8" aria-selected="false">Semester 8</button>
				<button class="nav-link" id="v-pills-technical-tab" data-bs-toggle="pill" data-bs-target="#v-pills-technical" type="button" role="tab" aria-controls="v-pills-technical" aria-selected="false">Technical Electives</button>
				<button class="nav-link" id="v-pills-general-tab" data-bs-toggle="pill" data-bs-target="#v-pills-general" type="button" role="tab" aria-controls="v-pills-general" aria-selected="false">General Electives</button>
			</div>
		</div>

		<div class="tab-content" id="v-pills-tabContent">

			<div class="tab-pane fade show active" id="v-pills-semester1" role="tabpanel" aria-labelledby="v-pills-semester1-tab">
				<div class="ctu-ultimate-style-1-content "> 
					<div class="ctu-ulitate-style-1-tabs  active" id="ctu-ulitate-style-1-id-semester1">
						<div class="ctu-content-span">
							<h4><strong>Semester 1 Courses</strong></h4>
							<h6>All Engineering students follow the same first semester. These courses are credited towards their general programme (first year).</h6> <h6>&nbsp;</h6>
							
							{% for course in site.data.details.sem1 %}
								<h5>{{ course.title }}</h5> 
								<h6>Course Content:</h6> 
								<div>{{ course.content }}</div>	<br>
								<div>({{ course.other }})</div> <br>
								<a href="{{ course.url }}">More details</a> 
								<h6>&nbsp;</h6> <hr> 
							{% endfor %}

						</div>
					</div> 
				</div>
			</div>

			<div class="tab-pane fade" id="v-pills-semester2" role="tabpanel" aria-labelledby="v-pills-semester2-tab">		
				<div class="ctu-ultimate-style-1-content "> 
					<div class="ctu-ulitate-style-1-tabs  active" id="ctu-ulitate-style-1-id-semester2">
						<div class="ctu-content-span">

							{% for course in site.data.details.sem2 %}
							
							{% endfor %}

						</div>
					</div> 
				</div>
			</div>
			
			<div class="tab-pane fade" id="v-pills-semester3" role="tabpanel" aria-labelledby="v-pills-semester3-tab">
				<div class="ctu-ultimate-style-1-content "> 
					<div class="ctu-ulitate-style-1-tabs  active" id="ctu-ulitate-style-1-id-semester3">
						<div class="ctu-content-span">
							<h4><strong>Semester 3 Courses</strong></h4>
							<h6>The following compulsory courses are offered to Computer Engineering students in their 3rd semester.</h6> <h6>&nbsp;</h6>
							
							{% for course in site.data.details.sem3 %}
								<h5>{{ course.title }}</h5> 
								<h6>Course Content:</h6> 
								<div>{{ course.content }}</div>	<br>
								<div>({{ course.other }})</div> <br>
								<a href="{{ course.url }}">More details</a> 
								<h6>&nbsp;</h6> <hr> 							
							{% endfor %}

						</div>
					</div> 
				</div>
			</div>

		    <div class="tab-pane fade" id="v-pills-semester4" role="tabpanel" aria-labelledby="v-pills-semester4-tab">
				<div class="ctu-ultimate-style-1-content "> 
					<div class="ctu-ulitate-style-1-tabs  active" id="ctu-ulitate-style-1-id-semester4">
						<div class="ctu-content-span">

							{% for course in site.data.details.sem4 %}
							
							{% endfor %}

						</div>
					</div> 
				</div>
			</div>


		    <div class="tab-pane fade" id="v-pills-semester5" role="tabpanel" aria-labelledby="v-pills-semester5-tab">
				<div class="ctu-ultimate-style-1-content "> 
					<div class="ctu-ulitate-style-1-tabs  active" id="ctu-ulitate-style-1-id-semester5">
						<div class="ctu-content-span">

							{% for course in site.data.details.sem5 %}
							
							{% endfor %}

						</div>
					</div> 
				</div>
			</div>


		    <div class="tab-pane fade" id="v-pills-semester6" role="tabpanel" aria-labelledby="v-pills-semester6-tab">
				<div class="ctu-ultimate-style-1-content "> 
					<div class="ctu-ulitate-style-1-tabs  active" id="ctu-ulitate-style-1-id-semester6">
						<div class="ctu-content-span">

							{% for course in site.data.details.sem6 %}
							
							{% endfor %}

						</div>
					</div> 
				</div>
			</div>


		    <div class="tab-pane fade" id="v-pills-semester7" role="tabpanel" aria-labelledby="v-pills-semester7-tab">
				<div class="ctu-ultimate-style-1-content "> 
					<div class="ctu-ulitate-style-1-tabs  active" id="ctu-ulitate-style-1-id-semester7">
						<div class="ctu-content-span">

							{% for course in site.data.details.sem7 %}
							
							{% endfor %}

						</div>
					</div> 
				</div>
			</div>


		    <div class="tab-pane fade" id="v-pills-semester8" role="tabpanel" aria-labelledby="v-pills-semester8-tab">
				<div class="ctu-ultimate-style-1-content "> 
					<div class="ctu-ulitate-style-1-tabs  active" id="ctu-ulitate-style-1-id-semester8">
						<div class="ctu-content-span">

							{% for course in site.data.details.sem8 %}
							
							{% endfor %}

						</div>
					</div> 
				</div>
			</div>


		    <div class="tab-pane fade" id="v-pills-technical" role="tabpanel" aria-labelledby="v-pills-technical-tab">
				<div class="ctu-ultimate-style-1-content "> 
					<div class="ctu-ulitate-style-1-tabs  active" id="ctu-ulitate-style-1-id-technical">
						<div class="ctu-content-span">

							{% for course in site.data.details.technical %}
							
							{% endfor %}

						</div>
					</div> 
				</div>
			</div>


		    <div class="tab-pane fade" id="v-pills-general" role="tabpanel" aria-labelledby="v-pills-general-tab">
				<div class="ctu-ultimate-style-1-content "> 
					<div class="ctu-ulitate-style-1-tabs  active" id="ctu-ulitate-style-1-id-general">
						<div class="ctu-content-span">

							{% for course in site.data.details.general %}
							
							{% endfor %}

						</div>
					</div> 
				</div>
			</div>

		</div>
	</div>
</div>