---
layout: default
---

<main class="container">
    <div class="bg-secondary p-3 pb-1 rounded">
        <!-- <h1 class="text-white">Course Details</h1> -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ site.home }}" class="link-light">Home</a></li>
                <li class="breadcrumb-item"><a href="{{ '/' | relative_url }}" class="link-light">Undergraduate Courses</a></li>
                <li class="breadcrumb-item text-white">
                    {%- if page.course_number -%}
                    {{page.course_number}}
                    {%- endif -%}
                </li>
            </ol>
        </nav>
    </div>
</main>

<div class="container pt-4">
	<nav>
		<div class="nav nav-tabs" id="nav-tab" role="tablist">
			<button class="nav-link active" id="description" data-bs-toggle="tab" data-bs-target="#description-tab" type="button" role="tab" aria-controls="description" aria-selected="true">Description</button>
			<button class="nav-link" id="timeAllocation" data-bs-toggle="tab" data-bs-target="#timeAllocation-tab" type="button" role="tab" aria-controls="timeAllocation" aria-selected="false">Time Allocation</button>
			<button class="nav-link" id="marksAllocation" data-bs-toggle="tab" data-bs-target="#marksAllocation-tab" type="button" role="tab" aria-controls="marksAllocation" aria-selected="false">Marks Allocation</button>
			<button class="nav-link" id="statistics" data-bs-toggle="tab" data-bs-target="#statistics-tab" type="button" role="tab" aria-controls="statistics" aria-selected="false">Statistics</button>
		</div>
	</nav>
</div>

<div class="container pt-4">
	<div class="tab-content" id="nav-tabContent" style="min-height: 50vh;">
		<div class="tab-pane fade active show" id="description-tab" role="tabpanel" aria-labelledby="description">
			<div class="card mb-3">
				<div class="card-body">
					<!-- course number -->
					{% if page.course_number %}
					<div class="row">
						<div class="col-sm-3">
							<span class="mb-0" style="font-weight: 500">Course Number</span>
						</div>
						<div class="col-sm-9 text-secondary">
							{{page.course_number}}
						</div>
					</div>
					<hr>
					{% endif %}

					<!-- course title -->
					{% if page.course_title %}
					<div class="row">
						<div class="col-sm-3">
							<span class="mb-0" style="font-weight: 500">Course Title</span>
						</div>
						<div class="col-sm-9 text-secondary">
							{{page.course_title}}
						</div>
					</div>
					<hr>
					{% endif %}
					
					<!-- credits -->
					{% if page.credits %}
					<div class="row">
						<div class="col-sm-3">
							<span class="mb-0" style="font-weight: 500">Credits</span>
						</div>
						<div class="col-sm-9 text-secondary">
							{{page.credits}}
						</div>
					</div>
					<hr>
					{% endif %}

					<!-- core/elective -->
					{% if page.core_or_elective %}
					<div class="row">
						<div class="col-sm-3">
							<span class="mb-0" style="font-weight: 500">Core/Elective</span>
						</div>
						<div class="col-sm-9 text-secondary">
							{{page.core_or_elective}}
						</div>
					</div>
					<hr>
					{% endif %}

					<!-- prerequisites -->
					{% if page.prerequisites %}
					<div class="row">
						<div class="col-sm-3">
							<span class="mb-0" style="font-weight: 500">Prerequisites</span>
						</div>
						<div class="col-sm-9 text-secondary">
							{{page.prerequisites}}
						</div>
					</div>
					<hr>
					{% endif %}
					
					<!-- aims/objectives -->
					{% if page.aims_and_objectives %}
					<div class="row">
						<div class="col-sm-3">
							<span class="mb-0" style="font-weight: 500">Aims/Objectives</span>
						</div>
						<div class="col-sm-9 text-secondary">
							{{page.aims_and_objectives}}
						</div>
					</div>
					<hr>
					{% endif %}	

					<!-- ilos -->
					{% if page.ilos_knowledge %}
					<div class="row">
						<div class="col-sm-3">
							<span class="mb-0" style="font-weight: 500">Intended Learning Outcomes (ILOs)</span>
						</div>
						
						<div class="col-sm-9">
							<div>
								<span class="mb-0" style="font-weight: 500">Knowledge:</span>
							</div>
							
							<div class="text-secondary">
								At the end of this course, a student will be able to; 
								<ul>
									{%- for item in page.ilos_knowledge -%}
									<li>{{item}}</li>
									{%- endfor -%}
								</ul>
							</div>
							
							<div>
								<span class="mb-0" style="font-weight: 500">Skill:</span>
							</div>
							
							<div class="text-secondary">
								At the end of this course, a student will be able to; 
								<ul>
									{%- for item in page.ilos_skill -%}
									<li>{{item}}</li>
									{%- endfor -%}
								</ul>
							</div>	

							<div>
								<span class="mb-0" style="font-weight: 500">Attitude:</span>
							</div>
							
							<div class="text-secondary">
								<ul>
									{%- for item in page.ilos_attitude -%}
									<li>{{item}}</li>
									{%- endfor -%}
								</ul>
							</div>	
						</div>
					</div>
					<hr>
					{% endif %}	

					<!-- Textbooks and References -->
					{% if page.textbooks_references %}
					<div class="row">
						<div class="col-sm-3">
							<span class="mb-0" style="font-weight: 500">Textbooks and References</span>
						</div>
						<div class="col-sm-9 text-secondary">
							<ul>
								{%- for item in page.textbooks_references -%}
								<li>{{item}}</li>
								{%- endfor -%}
							</ul>
						</div>
					</div>
					{% endif %}	
				</div>
			</div>
		</div>

		<div class="tab-pane fade" id="timeAllocation-tab" role="tabpanel" aria-labelledby="timeAllocation">
			<table class="table table-sm table-bordered border-dark">	
				<tr>
					<th rowspan="2" style="text-align:center; vertical-align:middle">Topic</th>
					<th colspan="4" style="text-align:center; vertical-align:middle">Time Allocated / hours</th>								
				</tr>
			
				<tr>
					<th style="text-align:center; vertical-align:middle">L</th>
					<th style="text-align:center; vertical-align:middle">T</th>
					<th style="text-align:center; vertical-align:middle">P</th>
					<th style="text-align:center; vertical-align:middle">A</th>
				</tr>						
			
				{%- for item in page.modules -%}
				<tr>
					<td><b>{{item[0]}}</b> <br>{{item[1]}}</td>
					<td style="text-align:center; vertical-align:middle">{{item[2]}}</td>
					<td style="text-align:center; vertical-align:middle">{{item[3]}}</td>
					<td style="text-align:center; vertical-align:middle">{{item[4]}}</td>
					<td style="text-align:center; vertical-align:middle">{{item[5]}}</td>
				</tr>
				{%- endfor -%}
			</table>
			<p>L = Lectures, T = Tutorial classes, P = Practical classes, A = Homework assignments</p>		
		</div>
		
		<div class="tab-pane fade" id="marksAllocation-tab" role="tabpanel" aria-labelledby="marksAllocation">
			<table class="table table-sm table-bordered border-dark">	
				<tr>
					<th style="text-align:center; vertical-align:middle">Assessment</th>
					<th style="text-align:center; vertical-align:middle">Percentage Marks</th>								
				</tr>						
			
				{%- for item in page.marks -%}
				<tr>
					<td style="vertical-align:middle">{{item[0]}}</td>
					<td style="text-align:center; vertical-align:middle">{{item[1]}}</td>
				</tr>
				{%- endfor -%}							
			</table>	
		</div>
		
		<div class="tab-pane fade" id="statistics-tab" role="tabpanel" aria-labelledby="statistics">
			
			<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
			<canvas id="myChart" style="width:100%;max-width:600px"></canvas>
			<canvas id="myChart1" style="width:100%;max-width:600px"></canvas>
			
			<script>
			var xValues = ["A+", "A", "A-", "B+", "B", "B-", "C+", "C", "C-", "D+", "D", "E"];
			var yValues = [10, 24, 10, 9, 7];
			var y1Values = [2, 20, 26, 7, 5];
			var barColors = ["red", "green","blue","orange","brown", "red"];

			new Chart("myChart", {
			  type: "bar",
			  data: {
				labels: xValues,
				datasets: [{
				  backgroundColor: barColors,
				  data: yValues
				}]
			  },
			  options: {
				legend: {display: false},
				title: {
				  display: true,
				  text: "Grade Distribution 20XX"
				}
			  }
			});
			
			new Chart("myChart1", {
			  type: "bar",
			  data: {
				labels: xValues,
				datasets: [{
				  backgroundColor: barColors,
				  data: y1Values
				}]
			  },
			  options: {
				legend: {display: false},
				title: {
				  display: true,
				  text: "Grade Distribution 20XX"
				}
			  }
			});
			</script>		
		</div>
	</div>
</div>


<style>
    p {
        text-align: justify;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        // Switch to the right tab, absed on the location hash
        const locHash = window.location.hash;
        if (locHash != '') {
            var tabTrigger = new bootstrap.Tab($(locHash)).show();
        }

        // Update the URL hash with tab selection
        var tabsList = document.querySelectorAll('button[data-bs-toggle="tab"]')
        tabsList.forEach((triggerEl) => {
            triggerEl.addEventListener('shown.bs.tab', function (event) {
                const tabID = (event.target.getAttribute('id'));
                console.log(tabID);
                event.preventDefault();
                window.location.hash = tabID;
            })
        });
    });
</script>