---
layout: default
---
{%- comment -%}
Basic layout for the documentation pages
{%- endcomment -%}

<main class="container">
    <div class="bg-secondary p-3 pb-1 rounded">
        <h1 class="text-white">{{page.question}}</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ site.home }}" class="link-light">Home</a></li>
                <li class="breadcrumb-item"><a href="{{ '/' | relative_url }}" class="link-light">Undergraduate
                        Courses</a></li>
                <li class="breadcrumb-item"><a href="{{ '/documentation/' | relative_url }}"
                        class="link-light">Documentation</a></li>
                <li class="breadcrumb-item active text-white">{{page.question}}</li>
            </ol>
        </nav>
    </div>
</main>

<div class="row">
    <div class="col-sm-12 col-md-11 col-lg-10 mx-auto">
        {{content}}
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
<script>
    hljs.initHighlightingOnLoad();
</script>